.fdCol {
  border: 1px solid;
  margin: 8px;
  max-width: 400px;
  min-height: 500px;
  padding: 8;
}

.fdColHeader {
  padding: 8px;
}

.fdTask {
  padding: 5px;
  border: 1px solid;
  margin: 10px 5px;
}
